{% extends "base.njk" %}

{%block content%}

<h1>Welcome {{ user.name | capitalize }} to my todolist app</h1>
    {# <form action="/tasks" method="get">
        <label for="task_id"> Please enter the task id</label>
        <input type="text" name="task_id" id="task_id">
    </form> #}
    <h2>List of tasks</h2>
    <ul class="tasks">
        {%for task in userTasks %}
        <li class="task">
            <h3>{{ task.name }}</h3>
            <h4> {{ task.due }} </h4>
            <a href="task/{{task.id}}">
                <button> Details </button>
            </a>
            {%if user.isAdmin %}
            <button>Delete</button>
            {%endif%}
        </li>
        {% else %}
        No Items Added
        {% endfor %}
    </ul>

{% endblock %}