{% extends "base.njk" %}

{%block content%}

<h1>Welcome {{ user.name | capitalize }} to my todolist app</h1>
    <h2>List of tasks</h2>
    <ul class="tasks">
        {%for task in userTasks %}
        <li class="task">
            <h3>{{ task.name }}</h3>
            <h4> {{ task.due }} </h4>
            <a href="task/{{task.id}}">
                <button> Details </button>
            </a>
            {%if user.isAdmin %}
            <button>Delete</button>
            {%endif%}
        </li>
        {% else %}
        No Items Added
        {% endfor %}
    </ul>
    <h2>
        Add a new Task
    </h2>
    <form action="/task" method="post">
            <label for="name"> Task name</label>
            <input type="text" name="name" id="name">
            <label for="due"> Task Date</label>
            <input type="date" name="due" id="due">
        </form>

{% endblock %}