{% block header %}
<nav>
Navigation bar
</nav>
{% endblock %}

<section class="left">
    {% block left %}
    {% endblock %}
</section>

<section class="right">
    {% block right %}
    More content
    {% endblock %}
</section>