
//customizations
$primary: #3A00E5;
$btn-border-radius-lg:16px;
$btn-padding-x-lg:16px;
$btn-padding-y-lg:12px;

// import bootstrap
@import "../bootstrap/scss/bootstrap";

//Other CSS
html {
    height: 100%;
}

section {
    border-left: 1px solid black;
}

.form-check-input {
    border-width: 2px;
}

#new_task_input:focus {
    box-shadow: none !important;
}

.card.checked{
    opacity: 0.5;
}

.card.checked * {
    text-decoration: line-through;
}

.draggable-item {
      cursor: move;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 5px;
}

.dropover{
    border-radius: 20px;
    border: 3px dashed #3A00E5;
}