body {
    background-color: #1F1D2B;
    font-family: "Inter";
    margin: 24px;
}

video.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    object-fit: cover;
    opacity: 0.2;
}

#splash {
    margin: 0px;
}

body,
a {
    color: white
}

#logo {
    position: absolute;
    left: calc(50% - 50px);
    top: 30%;
    width: 100px;
}

form.bottom {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 24px;
    padding: 24px;
    box-sizing: border-box;
}


input {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="text"],
input[type="search"] {
    padding: 16px 20px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    background-color: #1F1D2B;
    font-size: 12pt;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    font-size: 18pt;
    font-weight: bold;
}

a {
    font-size: 16pt;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}

.cards img {
    width: 100%;
    margin-bottom: 10px;
}

.cards h4 {
    margin: 0px 0px 4px 0px;
}

.cards h6 {
    margin: 0px;
}

nav {
    margin: 24px 0px;
}

nav.logo-nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
}