@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #1F1D2B;
    margin: 0px;
    font-family: "Inter";
    color: white;
}

video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
}

#logo-image {
    width: 100px;
    position: absolute;
    top: 40%;
    left: calc(50% - 50px);
}

form.bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
}

form * {
    margin-bottom: 13px;
}

input {
    box-sizing: content-box;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type=email] {
    padding: 16px 20px;
    background-color: #252836;
    border: white solid 1px;
    border-radius: 16px;
    font-size: 12pt;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 18pt;
    border: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 16pt;
}


/* TODO */
/* STYLE THE INPUT (Concepts: attribute selector, shorthand, variables) */
/* BUTTON STYLING (Concepts: class selector) */
/* FORM STYLING (Concepts: descendant selectors, display, collapse, :hover, special selectors) */
/* Page Layout (concepts: main flow, absolute, relative and fixed positions)*/